.hero-section {
  background: url('https://static.vecteezy.com/system/resources/previews/025/404/567/non_2x/mobile-internet-banking-isometric-concept-secure-online-payment-transaction-with-smartphone-and-digital-payment-background-vector.jpg')
    no-repeat center center/cover;
  height: 80vh;
  font-weight: bolder;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
}

.hero-section .btn {
  transition: all 0.3s ease;
}

.hero-section .btn:hover {
  transform: scale(1.05);
}
html {
  scroll-behavior: smooth;
}
