.profile-container {
  max-width: 500px;
  margin: 40px auto;
}

.profile-card {
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid var(--paynet-dark);
}

.form-label {
  color: var(--primary);
  font-size: 14px;
}

.form-control {
  border-radius: 8px;
  font-size: 15px;
}

/* EDIT BUTTON FIXED */
.edit-wrap {
  background: var(--paynet-dark);
  padding: 10px;
  border-radius: 10%;
  cursor: pointer;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  transition: 0.2s;
}

.edit-wrap:hover {
  background: var(--paynet-light);
  transform: scale(1.1);
}
