/* Limit card width */
.paynet-card {
  
  margin: auto;
  border-radius: 8px !important;
}

/* Input field visibility fix */
.form-control.shadow-sm {
  background-color: #f9f9f9;     /* Light grey background */
  border: 1px solid #d0d7e3;      /* Soft border */
  border-radius: 8px;
  padding: 10px;
  color: #002b5b;                 /* Dark text */
}

.form-control.shadow-sm:focus {
  border-color: var(--paynet-light);
  box-shadow: 0 0 0 2px rgba(51, 207, 255, 0.4);
}

/* Dropdown fix */
.form-select.shadow-sm {
  background-color: #f9f9f9;
  border: 1px solid #d0d7e3;
  border-radius: 8px;
  color: #002b5b;
  padding: 10px;
}

.form-select.shadow-sm:focus {
  border-color: var(--paynet-light);
  box-shadow: 0 0 0 2px rgba(51, 207, 255, 0.4);
}

/* Labels */
.form-label {
  font-weight: 600;
  color: #0047AB;
}

/* Button smoothness */
.btn-paynet {
  font-size: 18px;
  padding: 12px;
  border-radius: 10px !important;
}
